<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://cdn.tailwindcss.com"></script>
   
</head>

{% if lectura_archivo == 'OK' %}

<table class="border-1 border-cyan w-full" style="width: 98%; margin: 0 auto;" >
    <caption>
        {% if yapes %}
        Yapeaste: {{ yapes[0].monto }} a las {{ yapes[0].hora_sistema }} <br>
        Operación N° {{ yapes[0].num_operacion }}
        {% endif %}
    </caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>N° Operación</th>
            <th>Monto pagado</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for yape in yapes %}
        {% if loop.first  %}
            <tr class="text-right text-red-50" style="color: #22c55e; border:1px solid orange; border-radius: 3px; ">
                <td>{{ yape.id }}</td>
                <td>{{ yape.num_operacion }}</td>
                <td>{{ yape.monto }}</td>
                <td>{{ yape.fecha_sistema }}</td>
                <td>{{ yape.hora_sistema }}</td>
            </tr>
        {% else %}
        <tr class="text-right">
            <td>{{ yape.id }}</td>
            <td>{{ yape.num_operacion }}</td>
            <td>{{ yape.monto }}</td>
            <td>{{ yape.fecha_sistema }}</td>
            <td>{{ yape.hora_sistema }}</td>
        </tr>
        {% set total = total*1 + yape.monto*1 %}
        {% endif %}
        {% endfor %}
    <tr>
    <tbody>
        <tr>
            <td colspan="2">Total</td>
            <td>{{ total }}</td>
        </tr>
</table>

{% elif lectura_archivo == 'No-hallado' %}

<div class="border-2 border-gray-700 rounded-lg p-4">
    <h2 class="text-semibold text-red-50">Archivi/Carpeta No Encontrada:</h2>
    <p class="p-4">
        Al estar corriendo sobre un "Plan de Prueba",
        Railway prioriza (asignando recursos) sus clientes - pago.
    </p>
    <p class="p-4">
        Es decir, <strong>es posible</strong> que el archivo NO se haya guardado por
        falta de recursos de cómputo asignados a esta cuenta.
    </p>
    <p class="p-4">
        También es probable que lo hayas guardado con un nombre no adecuado
        para la seguridad de un servidor.
    </p>
    <p class="p-4">
        Intenta <strong>grabar el archivo con un corto y sin espacios</strong>.
    </p>
</div> 



{% else %}
<div class="border-2 border-gray-700 rounded-lg p-4">
    <h2 class="text-semibold text-red-50">TE EXPLICO:</h2>
    <p class="p-4">
        Al estar corriendo sobre un "Plan de Prueba",
        Railway prioriza (asignando recursos) sus clientes - pago.
    </p>
    <p class="p-4">
        Es decir, <strong>es posible</strong> que el archivo NO se haya guardado por
        falta de recursos de cómputo asignados a esta cuenta.
    </p>
</div> 
{% endif %}      


</html>