<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

  <title>Tu Proyecto</title>
  <!-- Enlazar Tailwind CSS -->
  <!--<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">-->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="static/js/scripts_ai.js"></script> 
  <!-- Estilos personalizados -->
  <link href="static/css/styles_ai.css" rel="stylesheet">
  <style>
/* CSS */
#drag-drop-area {
    border: 2px dashed #ccc;
    transition: .2s;
}

#drag-drop-area.highlight {
    border-color: purple;
}


</style>
</head>

<body >
<div class="flex flex-col items-center justify-center bg-gray-900 text-white gap-2 ">

  <div id="botonera" class="w-3/5 flex flex-col md:flex-row md:mt-[80px] md:grip-cols-3 bg-orange-500 gap-2 sm:mt-[9px] items-left pt-2">
    <h2 class="mx-3">Llena los campos</h2>
    <input type="number"  name="monto"    id="monto"    placeholder="Monto a pagar"       class="text-green-500 mx-3" onkeyup="replicar(this)">
    <input type="number"  name="n_opera"  id="n_opera"  placeholder="N° Operación [8 digitos]" class="text-green-500 mx-3" onkeyup="replicar(this)">
    <!-- Botón para capturar la imagen -->
    <button type="button" id="botonCaptura" class="mx-1 mb-2 mx-3">Capturar imagen</button>
  </div>


  <div class="flex sm:flex-col md:flex-row md:w-3/5 h-3/4 bg-black rounded-md justify-center items-center mt-[8px] sm:w-full" style="position: relative;">

  <div class="flex flex-row" >
    <!-- Columna izquierda con imagen 
    <div class="w-1/5">-->
      
      <!--<img src="{{url_for('static', path='../image/photo-fondo-lila.jpg')}}" alt="Mi Foto" class="w-full h-auto"></img>-->
    <!--</div>-->


        <div  id="captura-yape" 
        style="position: relative; background:url('static/image/yape-0.jpg'); background-repeat: no-repeat;
        border:1px solid greenyellow; border-radius: 4px; width:340px; height: 480px;" 
        class="w-1/5 h-[480px] border-1 border-green sm:w-1/2">
            <form id="miFormulario">
              <!-- Tus campos de formulario van aquí -->

              <input type="number"  name="montoX"   id="montoX"   disabled class="text-green-500">
              <input type="number"  name="n_operaX"  id="n_operaX"disabled class="text-green-500">
              <!-- etc. -->
            </form>
        </div>

        <!-- Aquí se mostrará la imagen capturada -->
        <div id="imagenCapturada" class="sm:w-1/2" style="position: relative;">
          <div id="guarda_esta_imagen">
            <p style="text-decoration: underline; padding-left: 10px; font-size: 0.99em; padding-bottom: 20px; padding-top: 20px;">Guarda la imagen que aparecerá aquí !</p>
            <ol start="1" style="font-size: 0.75em; color: yellowgreen; padding-left:10px">
              <li>Digita un monto "a pagar"</li>  
              <li>Digita el N° Operación de pago</li>  
              <li>Presiona el botón "Capturar imagen"</li>  
            </ol>
            <p style="padding-left: 10px; padding-top: 20px;">Luego guarda la imagen y toca el botón
            "Elegir Archivos", para que la selecciones.</p>
          </div>
        </div>
  </div>    

    <!-- Columna derecha con botón de carga y resultado -->
      <div  class="sm:flex sm:flex-row md:w-3/5 px-6 py-4 sm:rounded-lg ">
        <div class="">
          <div class="mb-4">
            <form  id="dropzone" class="p-4" hx-encoding='multipart/form-data' hx-post='/upload_documents'>
              <div id="drag-drop-area" class="bg-gray-700 text-white font-bold py-2 px-4 rounded">
                Arrastra y suelta aquí tu archivo
              <!-- Botón para subir archivo -->
              <input type="file" id="archivos" name="archivos" multiple accept=".pdf, .png, .jpg, .jpeg" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
              </div>      
              <!-- Botón para procesar archivo -->
              <button type="submit" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded"
                hx-post="/upload_documents" 
                hx-trigger="click" 
                hx-swap="innerHTML"
                hx-target="#resultados_aqui"
              >Procesar</button>
            </form>
          </div>
      
          <div id="contiene_tabla" class="overflow-y-auto h-64 border-2 border-red">
            <div id="resultados_aqui"></div>
          </div>
        </div>
      </div>  
  </div>

  <!-- Footer -->
  

<footer class="w-3/5 bg-black/800 rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    
      <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
              
              <img src="static/image/photo-fondo-lila.jpg" id="foto_duilio" alt="Duilio Restuccia" class="size-[80px]"></img>
              <!--<img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />-->
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">DuilioRestuccia</span>
          </a>
          
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                  <a href="https://github.com/duilius" target="_new" class="hover:underline me-4 md:me-6">Github</a>
              </li>
              <li>
                  <a href="https://linkedin.com/in/DuilioRestuccia" target="_new" class="hover:underline me-4 md:me-6">Linkedin</a>
              </li>
              <li>
                  <a href="https://YouTube.com/@DuilioRestuccia" target="_new" class="hover:underline me-4 md:me-6">YouTube</a>
              </li>
              <li>
                  <a href="mailto:restucciaduilio@gmail.com" target="_new" class="hover:underline">Email</a>
              </li>
          </ul>
      </div>
      
      <h4 id="email_duilio"><a href="mailto:restucciaduilio@gmail.com" target="_new" class="hover:underline">RestucciaDuilio@gmail.com</a></h4>          
      
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://duilio.up.railway.app/" class="hover:underline">Duilius™</a>. All Rights Reserved.</span>
  </div>
</footer>




<script>
function handleDrop(e) {
    let dt = e.dataTransfer;
    let files = dt.files;

    document.getElementById('archivos').files = files;  // Asocia los archivos con el input de archivo

    handleFiles(files);
}

function handleFiles(files) {
    ([...files]).forEach(file => {
        uploadFile(file);
        displayFileName(file);  // Muestra el nombre del archivo en el área de arrastre y soltar
    });
}

function displayFileName(file) {
    document.getElementById('drag-drop-area').innerText = 'Archivo cargado: ' + file.name;
}

</script>
<script>
document.getElementById('botonCaptura').addEventListener('click', function() {
  html2canvas(document.getElementById('captura-yape')).then(function(canvas) {
      // Crea una nueva imagen y establece su origen en el canvas
      var img = new Image();
      img.src = canvas.toDataURL('image/jpeg')

      // Agrega la imagen al div
      document.getElementById('imagenCapturada').appendChild(img);
      document.getElementById('guarda_esta_imagen').remove()
  });
});
</script>
</div>
</body>
</html>