#montoX {
    position: relative;
    top: 181px;
    left: 101px;
    width: 28%;
    height: 30px;
    font-weight: 700;
    font-size: 1.25em;
    background-color: rgb(240, 218, 218);
  }
#n_operaX {
    position: relative;
    top: 383px;
    left: 65px;
    width: 30%;
    height: 25px;
    font-weight: 700;
    font-size: 0.9em;
    background-color: rgb(240, 218, 218);
  }

#monto {
    position: relative;
    
    font-size: 0.9em;
    height: 30px;
    font-weight: 300;
    background-color: rgb(240, 218, 218);
    border:1px solid #050505;
    border-radius: 8px;
    padding: 6px 20px 6px 20px ;
  }
#n_opera {
    position: relative;

    font-size: 0.9em;
    height: 30px;
    font-weight: 300;
    background-color: rgb(240, 218, 218);
    border:1px solid #050505;
    border-radius: 8px;
    padding: 6px 20px 6px 20px ;    
  }

#botonCaptura {

    height: 40px;
    color:black;
    font-size: 1em;
    font-weight: 500;
    padding: 6px 20px 6px 20px;
    background-color: orange;
    border-radius: 8px;
  }

 #capturaYape {

    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
  }

#imagenCapturada{

    height: 480px;
    border:1px solid yellow;
    box-shadow: 1px yellowgreen;
}  

#resultados_aqu{
  height: 450px;
}

#contiene_tabla{
  height: 302px;
}

#foto_duilio{
  border-radius: 40px;
}

#email_duilio{
  position: relative;
  left: 98px;
  top: -30px;
  font-size: 0.75em;
  opacity: 0.55;
}